.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", Verdana, sans-serif;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.image {
  width: 70%;
  height: 50%;
  margin-left: 20%;
}

.input {
  width: 480px;
  height: 100%;
  padding: 1%;
  margin-bottom: 2%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  margin-left: 23%;
  margin-top: 5%;
  text-align: center;
}

.title {
  padding: 30px;
  text-align: center;
  color: #0a0a23;
  font-size: 40px;
}

.title2 {
  padding: 10px;
  text-align: center;
  color: #0a0a23;
  font-size: 30px;
}

.description {
  padding: 10px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.button {
  border-radius: 10px;
  background-color:#0a0a23;
  border: black;
  color: #ffffff;
  font-size: 15px;
  margin-left: 23%;
  padding: 5px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 10%;
}

.button:hover{
  background-color:#002ead;
  transition: 0.7s;
}
@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}